@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body{
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-weight: 550;
  display: block;
}

a{
  text-decoration: none;
  color: #ffffff;
}

header, footer{
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
header{
  height: 70px;
  position: fixed;
}
.header_item--iit-text{
  margin-right: 130px;
  width: 110px;
}

.header_item{
  font-size: 15px;
  line-height: 1.2;
  margin: 10px;
  font-weight: 500;
}

.logo{
  height: 50px;
  margin: 10px;
}

section{
  background: #0D0D0D;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#main-page{
  background-repeat: no-repeat;
  background-image: url(https://media3.giphy.com/media/1htfNaFkezjwTFFuRV/giphy.gif?cid=ecf05e47wj1m51kgdhkf1hz7o1f53azm07tnxjysnxtz6n33&rid=giphy.gif&ct=g);
  margin: 0; /* Убираем отступы */
  -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
  -moz-background-size: cover; /* Firefox 3.6+ */
  -o-background-size: cover; /* Opera 9.6+ */
  background-size: cover;
  justify-content: center;
}
.main-page_item{
  width: 30%;
  text-align: center;
}

.main-page_img{
  width: 80%;
  margin: 200px 0;
}

#programs{
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /*height: 700px;*/
}

.program{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
  padding: 3%;
}

.program_title{
  text-transform: uppercase;
  font-weight: 500;
}
.program_text{
  font-weight: 500;
  text-align: justify
}

.button-more{
  color:black;
  background-color: white;
  padding: 10px 25px;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;
}

.button-more:hover {
  filter: invert(1);
}

footer{
  height: 150px;
  width: 100%;
  flex-wrap: wrap
}

.footer_item{
  display: flex;
  flex-direction: row;
}

.footer_item--info{
  margin: 50px;
  font-weight: 500
}

.footer_item--img{
    margin: 15px;
}

.footer_item--social{
  width: 165px;
}

.social:hover{
  filter: opacity(50%);
}

.header_item:hover{
  filter: opacity(50%);
}

@media (max-width: 715px) {
  footer{
    height: 300px;
  }
}

@media (max-width: 370px) {
  body{
    zoom: 95%;
  }
}

@media (max-width: 350px) {
  body{
    zoom: 85%;
  }
  .footer_item {
    flex-wrap: wrap;
  }
}

@media (max-width: 280px) {
  body{
    zoom: 80%;
  }
}

@media (max-width: 250px) {
  body{
    zoom: 75%;
  }
}

@media (max-width: 550px) {

  .header_item{
    font-weight: 500;
    font-size: 13px;
  }

  .header_item--iit-text{
    width: 0;
    margin-right: 80px;
  }

  #main-page{
    /* height: 700px;*/
  }

  .main-page_item{
    width: 50%;
  }

  .program{
    margin: 10px;
    width: 300px;

  }

  .program_title{
    font-size: larger;
  }

  .program_text{
    font-size: medium;
    font-weight: 300;
  }

  footer{
    height: 260px;
  }

  .footer_item{
    margin: 0;
    font-size: 14px;
  }

  .footer_item--info{
    margin: 22px;
    width: 120px
  }

  .footer_item--tel{
    font-weight: 500;
    width: 160px;
  }

  .footer_item--img{
    margin: 15px;
  }

  .footer_item--social{
    width: auto;
  }

}

@media (max-width: 370px) {
  header{
    zoom: 90%;
  }

}

@media (max-width: 1200px) {
  .main-page--text{
    font-size: 40px;
    text-align: left;
    width: 730px;
    font-weight: 500;
  }
  #main-page{
    /*height: 700px;*/
  }

  .program{
    margin: 10px;
    width: 350px;
  }

  .program_title{
    font-size: 16px;
  }

  .program_text{
    font-size: small;
    font-weight: 300;
    height: 170px;
    margin: 15px;
  }

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

